aside{
  & .aside-container{
    img{
    max-width: 46px;
    max-height: 48px;
    }

    h1{
      font-weight: 500;
      font-family: "leckerli one";
      font-size: 2.5rem;
      color: #FF598B;
      padding-top: 16px;
      padding-bottom: 4px;
      
    }

    p{
      font-weight: 200;
      font-family: "Baloo 2";
      font-size: 1,125rem;
      color: #F9F9F9;

    }
  }
}