*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
 --font-family:"Open Sans", sans-serif;
 --text-sm:400 0.875rem var(--font-family);
 --text-xs:400 0.75rem var(--font-family);
 --text-md:400 1rem var(--font-family);
}

input{
    all: unset;
}

body{
    overflow: hidden;
}

fieldset{
    all:unset;
}

.input-wrapper{
    width: 100%;
    padding: 1rem;
    background-color: #1C1F21;
    border: 1px solid #363B40;
    border-radius: 8px;
    color: #fff;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    font: var(--text-sm);
}


.text-sm{
    font: var(--text-sm);
    color:#C8CDD0 ;
}

