#app{
  background-color: #131516;
  display: grid;
  grid-template-columns:32% 68%;

  height: 100vh;
  overflow: hidden;
  gap: 20px;
}

main{
  overflow: auto;
  padding: 165px 130px 80px;
  
}

aside{
  padding: 2rem;
  background-image: url(/Assets/Background.svg);
  background-repeat: no-repeat;
  border-radius: 12px;
 


  & .aside-container{
    img{
    max-width: 46px;
    max-height: 48px;
    }

    h1{
      font-weight: 500;
      font-family: "leckerli one";
      font-size: 2.5rem;
      color: #FF598B;
      padding-top: 16px;
      padding-bottom: 4px;
      
    }

    p{
      font-weight: 200;
      font-family: "Baloo 2";
      font-size: 1,125rem;
      color: #F9F9F9;

    }
  }
}