#app{
  background-color: #212427;
  display: grid;
  grid-template-columns:32% 68%;

  height: 100vh;
  overflow: hidden;
  gap: 20px;
}

main{
  overflow: auto;
  padding: 5rem 8.125rem 5rem;  
  
}

aside{
  padding: 2rem;
  background-image: url(/Assets/Background.svg);
  background-repeat: no-repeat;
  border-radius: 12px;
}

.location{
  & .titulo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;    
  }

  & .startending{
  display: flex;
  gap:.5rem;
  margin-top: 1rem;
  }
}

